.header {
  padding: 1.75rem 10.3125rem 2.125rem;
  border-bottom: $grayishBlue .0625rem solid;
  
  nav {
  }

  &__menu { // Mobile menu

    margin-top: .3125rem;
    margin-right: 1rem;

    > span {
      display: block;
      width: 16px;
      height: 3px;
      background-color: $darkGrayishBlue;
      
      &:not(:last-child) {
        margin-bottom: .1875rem;
      }
    }

  }

  &__logo {

    img{
      width: 8.625rem;
    }

  }

  &__links {
    margin-left: 3.5rem;
    
    a {
      font-size: $font-sm;
      transition: all 200ms ease-in-out;

      &:not(:last-child) {
        margin-right: 2.125rem;
      }

      &:hover {
        color: $veryVarkBlue;
      }
    }
  }

  &__cart {
    img {
      width: 1.5rem;
      margin-right: 2.875rem;
    }
  }

  &__user-avatar {
    img {
      width: 3.25rem;
    }
  }
}